body{
  background-color: whitesmoke;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
  width: 500px;
}

#products{
  display: flex;
}

main{
  text-align: center;
}

img{
  width: 25%;
  border-radius: 8px;
  border: slategray solid 1px;
}

button{
  height: 50px;
  width: 120px;
  margin-top: 30px;
  font-size: 30pt;
  background-color: grey;
  border: solid black 2px;
}